<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorldServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorldServer.Properties.Settings>
            <setting name="SERVER_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="COUNTRY_CODE" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="GM_LIST" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>admin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LEVEL_CAP" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="DEV_LIST" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>admin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EXP_RATE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SHOP_URL" serializeAs="String">
                <value>http://www.rxjh.com/bbg/login.aspx?server=1</value>
            </setting>
        </WorldServer.Properties.Settings>
    </userSettings>
</configuration>