<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DatabaseFactory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DatabaseFactory.Properties.Settings>
            <setting name="DB_CONSTR" serializeAs="String">
                <value>Data Source=127.0.0.1;Initial Catalog=rxjhdb;Persist Security Info=True;User ID=root;Password=thisisadmin;charset=utf8;</value>
            </setting>
        </DatabaseFactory.Properties.Settings>
    </userSettings>
</configuration>